accesscontrol-backend/.settings
accesscontrol-frontend/node_modules
accesscontrol-backend/dbag-wildfly-10.1.0.Final/
npm-debug.log
rebel.xml
accesscontrol-frontend/dist
accesscontrol-backend/target

accesscontrol-frontend/.history

### Java Files
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Eclipse Files
# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

### Visual Studio Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.DS_Store
accesscontrol-backend/src/main/resources/arend
.vscode/
# Tools Ordner für Eclipse/Workspace
Tools
demo/node_modules
node_modules
coverage
dist
docs
delivery
delivery
